<body class="site">
  <div class="container">
    <h2>Hello World</h2>
    <p>
      The time is now: <%= Time.now %>
    </p>

    <%= link_to 'Categorias', controller: 'categorias' %>
    <%= link_to 'Nova Categoria', new_categoria_path %>
    <p align="justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis ligula ac elit aliquam, blandit pretium metus euismod. Phasellus ac mi magna. Phasellus lacinia viverra tortor. Quisque a pretium velit. Cras libero dui, porta nec nisl non, facilisis mattis magna. Fusce efficitur quis risus ut tincidunt. Quisque laoreet, urna vel auctor pellentesque, felis tellus maximus mauris, et commodo dui eros a libero. Nullam hendrerit sem tortor. Aenean finibus aliquam lacus eu tempor. Nulla suscipit, magna non luctus maximus, mauris augue suscipit quam, in pellentesque ex lectus sed diam. Maecenas hendrerit faucibus finibus. Nunc a ex elit. Phasellus fermentum mauris vel elit auctor, a consectetur augue elementum. Donec finibus risus a leo aliquet, et pellentesque libero vestibulum. Donec vehicula leo nunc, ut pretium ex rhoncus et. Pellentesque aliquet scelerisque risus nec pellentesque.<br/><br/>
      Nunc vehicula facilisis venenatis. Mauris euismod elit quis elit maximus, a pulvinar quam dictum. Integer vitae nunc facilisis, convallis tortor sed, laoreet justo. Nunc quis nibh maximus, sodales lorem nec, hendrerit ipsum. Nulla facilisi. Aliquam porttitor vulputate lacus, porttitor faucibus diam faucibus nec. Nullam vel mi at sapien pharetra sodales. Maecenas condimentum faucibus diam, nec molestie orci placerat non. Sed eu magna aliquet justo ultricepulvinar ut in turpis. Nunc sit amet ex tortor. Ut finibus a purus id tempus. Cras leo nisi, euismod viverra ex ac, rhoncus fringilla eros. Aliquam vitae eleifend ante. Fusce convallis nisi at convallis efficitur.<br/><br/>
      Etiam non dolor sit amet tortor maximus iaculis luctus nec metus. Nam a pretium nisl, a ultricies tortor. Aliquam ut elementum mauris, eu commodo purus. Aenean luctus diam nec sapien efficitur porttitor. Pellentesque at lacus ac arcu fermentum rutrum. Mauris sed tortor sed risus auctor sagittis ac in mauris. Fusce odio ipsum, dapibus vitae libero quis, consectetur hendrerit magna.<br/><br/>
      Ut vehicula, nisl nec dictum sagittis, ipsum augue tincidunt turpis, nec eleifend metus urna ut ante. Maecenas volutpat lacus magna, sed ullamcorper massa lobortis at. Vivamus quis odio tempus, aliquet magna vel, eleifend dui. Integer fringilla tincidunt finibus. Nam vulputate orci diam, nec aliquam massa ultrices quis. Nullam mattis feugiat eros, ac aliquam ligula feugiat nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br/><br/>
      Ut id nisi posuere, pulvinar risus pharetra, aliquet sapien. Fusce sem augue, aliquet at augue a, ultrices tempor arcu. Cras ac vulputate elit. Donec vel justo est. Aliquam erat volutpat. Donec finibus ullamcorper massa, a lacinia arcu hendrerit ac. Sed nec leo tincidunt, ultricies elit et, vehicula ligula. Mauris non sodales purus, ultrices rhoncus nisi. Quisque lacinia nunc non lectus vestibulum eleifend. Aliquam semper eros eleifend lectus ullamcorper hendrerit quis elementum nulla. Mauris imperdiet lorem nibh, nec mollis odio hendrerit nec.
    </p>
  </div
</body