<body class="site">
  <div class="container">
    <div class="row">
      <%= link_to produtos_path, :class => "col-sm-12 offset-md-3 col-lg-3" do%>
        <div class="quadrado custom-btn quadrado--margin">
          <div class="icone"><i class="fa fa-laptop fa-5x"></i></div>
          <div class="titulo">Produtos</div>
        </div>
      <% end %>
      <%= link_to categorias_path, :class => "col-sm-12 col-lg-3" do%>
        <div class="quadrado custom-btn1">
          <div class="icone"><i class="fa fa-book fa-5x"></i></div>  
          <div class="titulo">Categorias</div>        
        </div>
      <% end %>
    </div>
  </div
</body