<div class="container">
    <div class="row">
        <h2 class="col-lg-8">Editar Produto</h2>
        <div class="col-lg-4 d-none d-lg-block text-right">
            <%= link_to "", produtos_path, :class => "fa fa-arrow-circle-left fa-2x botao-voltar" %>
        </div>
    </div>
    <%= render 'form' %>
</div>
