/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "categorias.scss";
@import "form.scss";
@import "helpers.scss";
@import "_functions";
@import "_variables";
@import "_breakpoints";
@import "_buttons";
@import "index.scss";

.site{
    margin-top: 100px;
    .header-web{
        background-color: #11110e;       
        padding: 15px 0px 15px 0px;
        position: fixed;
        top: 0;
        transition: all 200ms linear;
        width: 100%;
        z-index: 1000;
        .menu{
            display: flex;
            a{
                color: white;
                padding: 0px 10px 0px 0px
            }
            .logo{
                flex: 0.065;
            }
            .links{
                display: flex;
                flex: 1;
                padding: 5px
            }
        }
    }
}

.follower{
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}

@include media-breakpoint-down(sm){
    .site{
        margin-top: 0px;
        & .header-mobile{
            background-color: #11110e;
            margin-bottom: 25px;
            padding: 15px 0px 15px 0px;
            & .menu{
                & .links{
                    text-align: right;
                }
                & a{
                    color: white;
                }
            }
        }
    }    
}