.site{
    & form{
        margin-top: 20px;
    }
    & .form-botoes{
        & .botao{
            width: 100%;
        }
    }
}

@include media-breakpoint-down(sm){
    .site{
        & .form-botoes{
            & .botao--margin{
                margin-bottom: 10px;
            }
        }
    }    
}

