.btn-primary{
    background-color: #c10006;
    border-color: #c10006;
    &:hover{
        background-color: #7c0000;
        border-color: #7c0000;
    }
    &:active{
        background-color: #7c0000;
        border-color: #7c0000; 
    }
    &:not(:disabled):not(.disabled):active{
        background-color: #7c0000;
        border-color: #7c0000;
    }
}

.btn-back{
    background-color: #0065ff;
    border-color: #0065ff;
    &:hover{
        background-color: #0048b7;
        border-color: #0048b7;
    }
    &:active{
        background-color: #0048b7;
        border-color: #0048b7; 
    }
    &:not(:disabled):not(.disabled):active{
        background-color: #0048b7;
        border-color: #0048b7;
    }
}

.btn-secondary{
    background-color: #adadad;
    border-color: #adadad;
}

.botao-voltar{
    color: #0046b7;
    text-align: right
}

// Modal
.site{
    & .modal-header{
        background-color: #9E9E9C;
        color: white;
        & .close{
            opacity: 1.5;
            color: white;
        }
    }
    & .modal-body{
        & .nome, & .descricao{
        }
    }
    & .modal-footer{
        & a{
            font-size: 20px;
        }
        & .btn{
            padding: 7px 40px;
        }
    }
}