.modal-body{
    display: flex;
    & .info-produto, & .info-categoria{
        flex: 1;
        & .item{
            margin-bottom: 8px;
        }
        & .item--nomargin{
            margin-bottom: 0px;
        }
    }
}
